<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Swishbot</h1>
    <table>
        <tr>
            <th>Naam</th>
            <th>Waarde</th>
        </tr>
        <tr>
            <th>Schoten</th>
            <th><%= attempts %></th>
        </tr>
        <tr>
            <th>Goals</th>
            <th><%= goals %></th>
        </tr>
        <tr>
            <th>Percentage</th>
            <th><%= parseFloat(fgPercentage).toFixed(2) %>%</th>
        </tr>
    </table>
    <video src="/video.mp4" controls height="400px"></video>
</body>
</html>